body {
  margin: 0;
  padding: 0;
}

main {
  margin: .25em;
  padding: .25em;
}

fieldset {
  display: inline-block;
  border: solid 1px #000000;
}

h2 {
  font-size: .9em;
  display: inline-block;;
}

aside {
  display: block;
  padding: 5px;
}

.abilities-box {
  vertical-align: top;
}

.submit-button {
  background-color: #ADD8E6;
}

.reset-button {
  background-color: #ADD8E6;
}

label {
  display: block;
  font-weight: bold;
}

label.side {
  display: inline;
}

label.pilot {
  display: inline;
}

.application-info {
  vertical-align: top;
}

textarea.dark-side {
  display: block;
  border: 2px solid: #000000;
  border-radius: 5px;
}

textarea.story-origin {
  border: 2px solid #000000;
  border-radius: 5px;
}
.side-title {
  display: inline;
}

aside .title {
  font-weight: bold;
  font-size: 1.1em;
}

label {
  font-size: bold;
}
p {
  font-weight: bold;
}
